<!-- THIS VIEW IS NOT BEING USED AS OF 10/19 -->
<%= form_for([@article, @article.comments.build]) do |f| %>
    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <span class="errors">
          <%= pluralize(@comment.errors.count, "error") %>
        </span> prohibited this article from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li class="errors"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :username, "Enter username (required)" %><br>
    <%= f.text_field :username, size:"50x10" %>
  </div>
  <div>
    <%= f.label :comment_body, "Share your comment..." %><br>
    <%= f.text_area :comment_body, size:"100x10" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>