<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <span class="errors">
          <%= pluralize(@article.errors.count, "error") %>
        </span> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li class="errors"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<section class="new-article-form">
  <p>
    <%= f.label :title, "Title", :class=>"edit-label" %><br>
    <%= f.text_area :title, size:"50x2" %>
  </p>
  <p>
      <%= f.label :photo, "Attach Cover Photo:", :class=>"edit-label"  %>
  </p>
  <p>
    <%= f.label :intro, "Intro", :class=>"edit-label"  %><br>
    <%= f.text_area :intro, size:"200x10" %>

   <p>
    <%= f.label :need_to_know, "NEED TO KNOW", :class=>"edit-label"  %><br>
    <%= f.text_area :need_to_know, size:"200x10" %>
    <%= f.file_field :photo %>

  </p>
  <p>
    <%= f.label :recap, "IN CASE YOU MISSED IT", :class=>"edit-label"  %><br>
    <%= f.text_area :recap, size:"200x10" %>
    <%= f.file_field :photo2 %>
  </p>
  <p>
    <%= f.label :hot_and_cold, "WHO's HOT? WHO's COLD?", :class=>"edit-label"  %><br>
    <%= f.text_area :hot_and_cold, size:"200x10" %>
  </p>
  <p>
    <%= f.label :opp_lineup, "OPPONENT PROJECTED LINEUP", :class=>"edit-label"  %><br>
    <%= f.text_area :opp_lineup, size:"200x10" %>
  </p>
  <p>
    <%= f.label :sharks_lineup, "SHARKS PROJECTED LINEUP", :class=>"edit-label"  %><br>
    <%= f.text_area :sharks_lineup, size:"200x10" %>
  </p>
  <p>
    <%= f.label :link1_text, "FUTHER READING FROM AROUND THE WEB", :class=>"edit-label"  %><br><br>

    <%= f.label :link1_text, "Enter text for article #1" %><br>
    <%= f.text_area :link1_text, size:"100x1" %> <br>
    <%= f.label :link1_url, "Enter URL for article #1" %><br>
    <%= f.text_area :link1_url, size:"100x1" %><br> <br>

    <%= f.label :link2_text, "Enter text for article #2" %><br>
    <%= f.text_area :link2_text, size:"100x1" %> <br>
    <%= f.label :link2_url, "Enter URL for article #2" %><br>
    <%= f.text_area :link2_url, size:"100x1" %><br> <br>

    <%= f.label :link3_text, "Enter text for article #3" %><br>
    <%= f.text_area :link3_text, size:"100x1" %> <br>
    <%= f.label :link3_url, "Enter URL for article #3" %><br>
    <%= f.text_area :link3_url, size:"100x1" %><br> <br>
  </p>
  <p>
    <%= f.label :memorable_moments, "MEMORABLE MOMENTS", :class=>"edit-label"  %><br>
    <%= f.text_area :memorable_moments, size:"200x10" %>
    <%= f.file_field :photo3 %>
  </p>
  <p>
    <%= f.label :share, "SHARE & SUBSCRIBE", :class=>"edit-label"  %><br>
    <%= f.text_area :share, size:"200x10" %>
  </p>


  <p>
    <%= f.submit %>
  </p>
</section>
<% end %>