<h1>Archives - The Puck Times </h1>

  <% @articles = Article.order('id DESC') %>
  <% @articles.each do |article| %>
    <div class="main-body col-12">
      <div class="title-list col-10"> <h2> <%= article.title %> -
        <%= article.game_date.to_s[5..6]%>/<%= article.game_date.to_s[8,9]%>/<%= article.game_date.to_s[0..3]%>
       <!-- %= article.created_at.strftime("%B %d, %Y") %> -->
     </h2>

   </div>

      <h3 class="col-9 fl-l"><%= article.need_to_know %></h3>
      <div class="col-3 fl-r"><%= image_tag article.photo.url, :class=>"thumbnail-photo" %></div>
      <button class="button"> <%= link_to 'View Article', article_path(article) %> </button>
      <div>
        <div class="edit-button">
          <%= link_to 'Edit', edit_article_path(article), :class=> "link-b" %></div>
        <div class="see-comments">
          <%= link_to 'Read Comments', article_path(article, anchor:"comments"), :class=>"view-comments" %></div>
        <div class="delete-button">
          <%= link_to 'Delete', article_path(article), :class=> "link-b",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></div>
      </div>
      <br>
      <hr class="cl-b">
    </div>
  <% end %>

