<section class="main-section">
  <h1>
  <strong>
  <%= @article.title %> <br> <br>
  </strong>
</h1>

<div class="">
  <%= simple_format @article.intro %>
  <hr>
  <h2>NEED TO KNOW</h2>
  <%= simple_format @article.need_to_know %>
  <hr>
  <h2>IN CASE YOU MISSED IT: Game Recap</h2>
  <%= simple_format @article.recap %>
  <hr>
  <h2>WHO's HOT & WHO's COLD?</h2>
  <%= simple_format @article.hot_and_cold %>
  <hr>
  <h2>OPPOSITION LINEUP</h2>
  <%= simple_format @article.opp_lineup %>
  <hr>
  <h2>SHARKS LINEUP</h2>
  <%= simple_format @article.sharks_lineup %>
  <hr>

  <h2>FURTHER READING FROM AROUND THE WEB</h2>
  <div class="link1">
  <%= simple_format @article.further_reading %>
  </div>
  <div class="visible"> http://pucktimes.com </div>
  <hr>
  <h2>MEMORABLE MOMENTS</h2>
  <%= simple_format @article.memorable_moments %>
  <hr>
  <h2>SUBSCRIBE NOW</h2>
  <%= simple_format @article.share %>
  <hr>
</div>


</div>

<div class="col-3 fl-l">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'View all Articles', articles_path %>
</div>
<div class="col-9 fl-r">
  <h2>Comments</h2>
  <%= render @article.comments %>

  <%= render 'comments/form' %>

</div>
</section>