<section class="main-section">
  <h1>
  <strong>
  <%= @article.title %> DEBUG --> THIS PAGE SHOULD BE REMOVED <br>
  </h1>
</h3>
  <%= @article.game_date %> <br>
  </strong>
</h3>

<div class="">
  <%= simple_format @article.intro %>
  <hr>
  <h2>NEED TO KNOW</h2>
  <%= image_tag @article.photo.url, :class=>"article-photos" %>
  <%= simple_format @article.need_to_know %>
  <hr class="cl-b">
  <h2>IN CASE YOU MISSED IT: Game Recap</h2>
  <%= image_tag @article.photo2.url, :class=>"article-photos" %>
  <%= simple_format @article.recap %>
  <hr class="cl-b">
  <h2>WHO's HOT & WHO's COLD?</h2>
  <%= simple_format @article.hot_and_cold %>
  <hr class="cl-b">
  <h2>OPPOSITION LINEUP</h2>
  <%= simple_format @article.opp_lineup %>
  <hr class="cl-b">
  <h2>SHARKS LINEUP</h2>
  <%= simple_format @article.sharks_lineup %>
  <hr class="cl-b">

  <h2>FURTHER READING FROM AROUND THE WEB</h2>
      <div class="link1">
      <%= simple_format @article.link1_text %>
      </div>
      <div class="invisible"> <%= simple_format @article.link1_url %> </div>

      <div class="link1">
      <%= simple_format @article.link2_text %>
      </div>
      <div class="invisible"> <%= simple_format @article.link2_url %> </div>

<!--       <div class="link1">
      <%= simple_format @article.link3_text %>
      </div>
      <div class="invisible"> <%= simple_format @article.link3_url %> </div> -->
  <hr class="cl-b">
  <h2>MEMORABLE MOMENTS</h2>
  <%= simple_format @article.memorable_moments %>
  <%= image_tag @article.photo3.url, :class=>"moments-gif" %>
  <hr class="cl-b">
  <h2>SUBSCRIBE NOW</h2>
  <!-- simple_format @article.share %> -->
  <div>
    If you’re enjoying The Puck Times, please share with fellow fans of Team Teal. Anyone can subscribe for free via the button below. We continue to make improvements to the website based on users' feedback, so please never hesitate to share your feedback and ideas by contacting us at <a href="mailto:pucktimes@gmail.com"> pucktimes@gmail.com </a>.
  <div class="white-text">
    <button class="button"> <a href="http://unbouncepages.com/pucktimes-signup/">
      SUBSCRIBE NOW </a> </button>
  </div>
  </div>
  <hr class="cl-b">
</div>


</div>

<div class="col-3 fl-l">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'View all Articles', articles_path %>
</div>
<div class="col-9 fl-r">
  <h2>Comments</h2>
  <%= render @article.comments %>

  <%= render 'comments/form' %>

</div>
</section>